@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
	box-sizing : border-box;
	margin : 0;
	padding : 0;
}
html, body {
	font-family : 'Rubik', sans-serif;
}
a:hover, a {
	color : inherit;
	text-decoration : inherit !important ;
}
img {
	max-width : 100%;
	height : auto;
}
ul {
	padding : 0;
	margin : 0;
}
li {
	list-style-type : none;
}
h1, h2, h3, h4, h5, h6{
	margin-bottom: 0;
}
.active {
	color : #fa5d2a;
}
.container-header{
	max-width: 1860px;
    margin: auto;
}
.bg-second {
	background-color : #1f2024;
	color : #ffffff;
}
.top-header {
	padding: 12px 0;
	color : #999;
	display: flex;
	justify-content : space-between;
}
.top-header a {
	font-size : 13px;
}
ul.devided > li:not(:last-child) {
	padding-right: 1rem;
    border-right: 1px solid;
}
ul.devided > li:not(:first-child) {
	padding-left: 1rem;
}
.dropdown {
	position : relative;
}
.devided .dropdown:hover .dropdown-content {
	top : 100%;
	opacity : 1;
	visibility : visible;
}
.dropdown .dropdown-content {
	opacity : 0;
	color : #1f2024;
	visibility : hidden;
	position : absolute;
	top : calc(100% + 10px);
	left : 50%;
	background-color : #ffffff;
	box-shadow : 0 7px 29px 0 rgb(100, 100, 111, 0.2);
	transition : all 0.4s cubic-bezier(0.77,0,0.175,1);
	z-index : 2;
}
.dropdown-content > li > a {
	padding : 10px;
}
.dropdown-content > li > a:hover {
	color : #fa5d2a;
}
.mid-header {
	display: flex;
	justify-content : space-between;
	padding-top: 20px;
    padding-bottom: 20px;
}
.user-menu {
	display : flex;
}
.user-menu > li > a {
	font-size : 24px;
	margin-left : 15px;
}

.user-menu li >a{
	position: relative;
}
.user-menu li > a .qty-cart{
	position: absolute;
	left: 12px;
    top: -3px;
    border-radius: 50%;
    min-width: 1rem;
    min-height: 1rem;
    color: #fff;
    background-color: #fa5d2a;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    margin-top: 0;
    height: auto;
    font-size: 11px;
}
.bottom-header {
	justify-content : center;
}
.main-menu {
	font-size : 14px;
}
.main-menu > li > a {
	display : flex;
	align-items : center;
	margin : 0 20px;
	font-weight : 500;
	height : 100%;
	text-transform : uppercase;
}
.main-menu > li > a:hover {
	color : #fa5d2a;
}
.mega-dropdown {
	position : relative;
	display : inline-block;
}
.mega-content {
	display : none;
	position : absolute;
	top: 48px;
	width : 100%;
	padding : 10px;
	z-index : 2;
	cursor: pointer;
	color : #666;
	background-color : #ffffff;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
	transition : all 0.4s cubic-bezier(0.77,0,0.175,1);
}
.mega-dropdown:hover .mega-content {
	display : block;
}
.mega-content ul > li:hover {
	color : #fa5d2a;
}
.mobile-menu, .mb-menu-close, .logo-name {
	display : none;
}
.hero{
	position: relative;
	overflow: hidden;
}
.hero .hero-items {
	position : relative;
	line-height: 0;
}
.hero .hero-items .hero-text {
	display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.3;
    position: absolute;
    z-index: 8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	padding: 40px 0;
	color: #fff;
}
.hero .hero-items .hero-text.right_center{
	align-items: flex-end;
    justify-content: center;
    text-align: right
}
.hero .hero-items .hero-text.right_center{
	width: 40%;
}
.hero-text span {
	font-size : 13px;
	font-weight : 500;
	text-transform : uppercase;
	padding : 10px 15px;
	margin: 40px 0;
	background : #fdc801;
	color : #111111;
	border-radius : 3px;
}
.hero-text h2{
	font-size : 80px;
	text-transform : uppercase;
	font-weight : 500;
	margin-top : 0;
	margin-bottom : 0;
	line-height : 0.9;
}

.hero-text p {
	font-size : 18px;
	font-weight : 300;
	margin-top : 40px;
	margin-bottom : 40px;
	line-height : 1;
}
.hero-text a {
	font-size : 13px;
	margin-top : 40px;
	padding : 14.5px 45px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 2px;
	background-color : #ffffff;
	color : #111111;
	border : none;
}
.hero-mb {
	display : none;
}
div[class*=col]{
	padding-left: 0;
	padding-right: 0;
}
.banner{
	margin-bottom: 80px;
	margin-top : -90px;
}
.banner-body {
	position : relative;
	background-color : #ffffff;
	border-radius: 2px;
	padding-top: 30px;
	padding-left: 30px;
}
.banner-item{
	margin-right: 30px;
	margin-bottom: 30px;
}
.banner-item img{
	border-radius: 2px;
}
.title {
	font-size : 30px;
}
.filter-controls {
	display: flex;
	justify-content: center;
	position: relative;
	padding-top: 38px;
    padding-bottom: 48px;
}
.filter-controls{
	list-style: none;
	color : #666;
	font-size : 16px;
}
.filter-controls li:not(:first-child){
	padding-left: 15px;
}
.filter-controls li:not(:last-child){
	padding-right: 15px;
}
.filter-controls li a{
	position: relative;
	padding-bottom: 10px;
}
.filter-controls .active {
	color: #fa5d2a;
}
.filter-controls .active a::after{
	color: #fa5d2a;
	border-bottom: 2px solid;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 2.5rem;
	content: '';
}
.filter-controls li:last-child {
	margin-right : 0;
}
.product{
	margin-bottom: 150px;
}
.product-sale{
	margin-bottom: 100px;
}
.product-row .product-item{
	padding: 20px;
}
.product-row .product-item {
	position : relative;
}
.product-item .product-label {
	position : absolute;
	top : 0;
	text-transform : uppercase;
	z-index : 3;
	bottom : auto;
}
.product-item .product-label .hot {
	background : #cc1414;
	color : #fff;
	margin-bottom : 3px;
}
.product-item .product-label .sale {
	background : #5aab19;
	color : #fff;
}
.product-item .product-label > span {
	line-height : 1;
	padding : 3px 10px;
	border-radius : 2px;
	display : block;
}
.product-item-text {
	line-height : 1.5;
}
.product-item-text h4 {
	padding-top : 10px;
	font-size : 14px;
	text-transform : uppercase;
	font-weight : 500;
}
.rating i {
	font-size : 16px;
	color : #f38a00;
}
.rating span {
	font-size : 11px;
	color: #a4a4a4;
}
.price {
	margin-top : 10px;
}
.price-old {
	margin-left: 10px;
	font-size : 13px;
	font-weight : 400;
	color: #a4a4a4;
	text-decoration-line : line-through;
}
.price-new {
	color : #cc1414;
	font-weight : 500;
}
.price-final{
	color: #111111;
}
.categories {
	position : relative;
	padding-bottom: 100px;
}
.categories-img img {
	width : 100%;
}
.categories-row {
	display : grid;
	grid-template-columns : auto 48.9% auto;
	grid-gap: 20px;
}
.categories-button{
	margin-top: 40px;
}
.categories-button a {
	text-align : center;
	font-size : 13px;
	padding : 20px 40px;
	text-transform : uppercase;
	font-weight : 600;
	border : #fa5d2a solid 3px;
}
.categories-banner .categories-item {
	position : relative;
	overflow : hidden;
}
.categories-item {
	margin-bottom : 20px;
}
.btn-small {
	border-radius : 2px;
	padding : 15px 35px;
}
.btn-small:not(:hover) {
	background-color : #fff;
	color : #222;
}
.categories-button a:hover, .btn-small:hover {
	background-color : #fa5d2a;
	color : #fff;
}
.categories-grid .categories-text {
	font-size : 11px;
	font-weight : 500;
	text-transform : uppercase;
	position : absolute;
	justify-content: center;
	align-items: center;
	width : 100%;
	top : 50%;
	transform : translateY(-50%);
}
.categories-text-left {
	margin-right : 15px;
}
.shipping{
	margin-bottom: 80px;
}
.shipping p {
	font-size : 16px;
	text-align : center;
	padding : 20px;
	color : #ffffff;
	border : #fa5d2a solid 1px;
	background-color : #fa5d2a;
}
.product .title h3{
	font-weight: 300 !important;
}
.product-title, .blog-title {
	justify-content : space-between;
	margin-bottom : 30px;
}
.left-title, .blog-title h4 {
	font-size : 24px;
	font-weight : 400;
	padding-bottom : 20px;
	border-bottom : 2px solid #fa5d2a;
}
.product-title, .blog-title span {
	font-size : 13px;
	font-weight : 200;
}
.discount {
	position : relative;
	margin-bottom: 100px;
}
.discount-content {
	width: 65%;
	align-items : center;
	justify-content: center;
	position : absolute;
	top : 0;
	bottom : 0;
	right : 0;
	left : 0;
	flex-wrap : wrap;
	display : flex;
	flex-wrap : nowrap;
	flex-direction : column;
}
.size-18{
	color : #ffffff;
	font-size : 18px;
	margin-bottom : calc(17px);
}
.discount-content h1 {
	font-size : 200px;
	color : #ffffff;
	line-height : 0.8;
}
.discount-content h4 {
	text-transform : uppercase;
	font-size : 40px;
	font-weight : 400;
	color : #ffffff;
}
.discount-button {
	margin-top : 50px;
}
.discount-button a {
	background : none;
	font-size : 13px;
	text-transform : uppercase;
	font-weight : 600;
	margin-right : 20px;
	padding : 15px 45px;
	color : #ffffff;
	border : #ffffff solid 3px;
}
.discount-button a:hover {
	background-color : #ffffff;
	color : black;
}
.reviews{
	background-image : url("../images/background-newslltes.png");
	background-position : center;
	background-repeat : no-repeat;
	margin-bottom: 170px;
}
.reviews-content{
	padding-right: 15px;
	padding-left: 15px;
}
.media-title span {
	margin-left : 15px;
	font-size : 13px;
	color : #8a8787;
}
.list-unstyled .media{
	max-width: 590px;
	padding: 38px 45px 38px 38px;
}
.media {
	margin : 20px 0;
	background-color: #fff;
	box-shadow : 0px 15px 35px 0px rgb(10 31 91 / 5%);
	border-radius : 5px;
}
.media-image {
	margin-right: 25px;
}
.media-title .name{
	font-size: 14px;
	font-weight: 500;
}
.media .media-title .job{
	margin-left: 10px;
}
.media:nth-child(2){
	margin-left: 72px;
}
.media-body p {
	font-size : 14px;
	color: #666;
}
.reviews-discount {
	margin-left : 50px;
	margin-top : 30px;
}
.reviews-discount h3 {
	font-size : 30px;
	text-transform : uppercase;
	font-weight : 700;
}
.reviews-discount h3 {
	margin-top : 25px;
}
.reviews-discount p {
	line-height : 2;
	font-size : 14px;
	padding : 30px 0 50px 0;
}
.reviews-discount span {
	border-radius : 2px;
	color : #fa5d2a;
}
.reviews-discount a {
	padding : 20px 50px;
	background-color : #fa5d2a;
	border : #fa5d2a solid 1px;
	border-radius : 3px;
	text-transform : uppercase;
	color : #ffffff;
	font-weight : 500;
}
.blog.full-width {
	position : relative;
	padding-bottom: 100px;
}
.blog-banner::after {
	position : absolute;
	content : '';
	top : -4.4rem;
	bottom : 8rem;
	left : 0;
	right : 0;
	background-color : #f3f5f6;
	transform-origin : center center;
	transform : skew(0deg,3deg);
	z-index : -1;
}
.blog-banner::before {
	position : absolute;
	content : '';
	top : -4.4rem;
	bottom : 8rem;
	left : 0;
	right : 0;
	transform-origin : center center;
	transform : skew(0deg,-3deg);
	background-color : #eceef2;
	z-index : -2;
}
.blog-post {
	position : relative;
	background : #ffffff;
	box-shadow : 0 5px 20px rgb(206, 206, 206, 0.5);
}
.blog-item-row .col {
	padding : 10px;
}
.blog-post .post-status {
	position : absolute;
	top : 1rem;
	font-size : 12px;
	text-transform : uppercase;
	background-color : #fa5d2a;
	color : #fff;
	padding : 5px 15px;
	border-radius : 2px;
}
.blog-post-content {
	padding : 20px;
}
.post-header h4 {
	font-size : 15px;
	font-weight : 500;
}
.post-author span {
	color : #fa5d2a;
}
.post-content p {
	color : #666;
	font-size : 14px;
}
.post-author {
	font-size : 12px;
	margin : 15px 0;
	text-transform : uppercase;
}
.post-bottom {
	justify-content : space-between;
	border-top : 1px solid #8a8787;
	margin-top : 20px;
	padding-top: 20px;
}
.post-bottom span {
	font-size : 13px;
	margin-right : 10px;
	justify-content : space-between;
	color : #555;
}
.newletter {
	background-image : url("../images/bg-newletter.png");
	background-repeat : no-repeat;
	background-size : cover;
	background-attachment : fixed;
	background-position : center;
	padding : 100px 0;
}
.newletter-image {
	margin-bottom: 15px;
}
.newletter-title h4 {
	font-size : 24px;
	font-weight : 500;
}
.newletter-title p {
	color : #666;
	font-size : 14px;
	padding-bottom: 25px;
}

.newletter-subcribe .form.subcribe .newletter-input {
	flex : 1;
	padding : 0 0 0 20px;
	font-size : 12px;
}
.newletter-subcribe .form.subcribe .newletter-input input {
	border : none;
	outline: none;
}
.newletter-form .newletter-subcribe .form.subcribe {
	max-width : 600px;
	margin : auto;
	box-shadow : 0 15px 35px 0 rgb(10 31 91 / 5%);
	padding : 3px 3px 3px 0;
	max-height : 5rem;
	background : #fff;
	border-radius : 2px;
}
.newletter-item .form.subcribe {
	width : 100%;
}
.newletter-button button {
	font-weight : 500;
	color : #fff;
	text-transform : uppercase;
	padding : 10px 33px;
	border : none;
	background-color : #fa5d2a;
}
input[type="email"] {
	width : 100%;
	height : 50px;
}
.instagram{
	margin-bottom: 70px;
}
.ins-icon {
	justify-content : center;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%,-50%);
	background : #fa5d2a;
	color : #fff;
	font-size : 28px;
	text-align : center;
	min-width : 100%;
	height : 100%;
}
.instagram span {
	font-size : 18px;
}
footer {
	font-size : 14px;
}
.page-footer p {
	margin-top : 0;
	margin-bottom : 20px;
}
.footer-about-store{
	flex: 2;
	max-width: 510px;
}
.footer-bottom {
	border-top : 1px solid #ebebeb;
}
.footer-content {
	margin : 25px 0;
}
.footer-bottom h6 {
	font-size : 14px;
}
.footer-bottom p {
	padding-top : 20px;
	padding-right : 15px;
}
.footer-bottom .social-media .social-link a {
	font-size : 18px;
	width : 3rem;
	height : 3rem;
	display : inline-flex;
	align-items : center;
	justify-content : center;
	background : #fff;
	border-radius : 2px;
	color : #fff;
	margin-right : 5px;
}
.copyright span {
	color : #fa5d2a;
	font-weight : 500;
}
.text-ic {
	margin-right : 15px;
}
/* responsive */
@media only screen and (max-width: 1439px) {
	.hero-text h2{
		font-size : 68px;
		margin-top : 0;
		margin-bottom : 0;
	}
	.hero-text span{
		font-size : 13px;
		margin-top : 2.77777778vw;
		margin-bottom : 2.77777778vw;
	}
	.hero-text p{
		font-size : 18px;
		margin-top : 2.77777778vw;
		margin-bottom : 2.77777778vw;
	}
	.hero-text a{
		margin-top : 1.73611111vw;
	}
	.discount-content h1{
		font-size : 13.88888889vw;
	}
	.discount-content h4{
		font-size : 3.81944444vw;
	}
}
@media only screen and (max-width: 1199px) {
	.banner{
		margin-top : -70px;
	}
	.hero-text h2{
		font-size : 43px;
		margin-top : 0;
		margin-bottom : 0;
	}
	.hero-text span{
		font-size : 12px;
		margin-top : 3.33333333vw;
		margin-bottom : 3.33333333vw;
	}
	.hero-text p{
		font-size : 16px;
		margin-top : 3.33333333vw;
		margin-bottom : 3.33333333vw;
	}
	.hero-text a{
		margin-top : 1.66666667vw;
		padding : 11.5px 35px;
	}
	.hero-xl{
		display: none;
	}
	.hero-mb{
		display: block;
	}
}
@media only screen and (max-width: 1023px) {
	.banner{
		margin-left: 15px;
		margin-right: 15px;
	}
	.mobile-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
		padding: 25px 30px;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
    }

	.mb-menu-toggle i{
		font-size: 28px;
	}
    .header-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 100vh;
        width: 350px;
		max-width: 100%;
        overflow-x: auto;
        position: fixed;
        top: 0;
        left: 100%;
        background-color: #ffffff;
        z-index: 99;
        -webkit-transition: left 0.5s ease-in-out;
        -o-transition: left 0.5s ease-in-out;
        transition: left 0.5s ease-in-out;
    }
    .header-wrapper.active {
        left: 0;
		color: #111111;
    }
    .mb-menu-close {
		color: #fff;
        display: block;
        position: absolute;
        right: 43px;
        top: 10px;
        z-index: 99;
        font-size: 25px;
    }
	.logo {
        display: none;
    }
	.logo-name{
		display: block;
		text-transform: uppercase;
		font-weight: 500;
		padding: 15px 20px;
		background-color: #fa5d2a;
		color:#fff !important;
	}
    .mid-header {
		display: block;
		padding: 0;
    }
    .bottom-header {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
	.bottom-header .main-menu  > li{
		border-bottom: 1px solid #ebebeb;
		
	}
    .main-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: unset;
    }
    .main-menu a {
        padding: 10px 0;
    }
    .mega-content {
		top: 0;
        position: relative;
        opacity: 1;
        visibility: visible;
        -webkit-box-shadow: unset;
                box-shadow: unset;
        background-color: transparent;
        padding-left: 45px;
    }
	.mobile-menu ul >li:nth-child(2),
	.hero-xl{
		display: none;
	}
	.mid-header > .user-menu {
		display: none;
	}
	.mega-dropdown .bxs-chevron-down{
		margin-right: 250px;
	}
	.reviews .reviews-discount{
		text-align: left;
	}
	.media:nth-child(2){
		margin-left: 0;
	}
}
@media only screen and (max-width: 991px){
	.container-header {
        width: 100%
    }
	.hero .hero-items .hero-text{
		padding-left: 20px;
	}
	.banner{
		margin-top : -40px;
	}
	.hidden-sm{
		display: none !important;
	}
	.top-header{
		justify-content: center;
	}
	.discount-content{
		font-size : 13.88888889vw;
	}
	.footer-content{
		justify-content: center;
		flex-direction: column-reverse;
	}
	.discount-button{
		display: none;
	}
	.list-unstyled .media{
		max-width: 100%;
	}
	.reviews-discount{
		margin-left: 0;
	}
	.social-media{
		margin: 25px 0;
	}
	.instagram-list{
		display: grid;
		grid-template-columns: repeat(4,1fr);
	}
}
@media only screen and (max-width: 767px) {
	.hero-text h2{
		font-size : 36px;
		margin-top : 0;
		margin-bottom : 0;
	}
	.hero-text span{
		font-size : 11px;
		margin-top : 5.20833333vw;
		margin-bottom : 5.20833333vw;
	}
	.hero-text p{
		font-size : 14px;
		margin-top : 5.20833333vw;
		margin-bottom : 5.20833333vw;
	}
	.hero-text a{
		font-size : 13px;
		padding : 8.5px 25px;
		margin-top : 3.25520833vw;
	}
	.banner{
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.text-ic,.discount-button{
		display: none;
	}
	.banner-bottom{
		margin-top: -40px;
	}
	.categories-row{
        -ms-grid-columns: 1fr 0 1fr;
        grid-template-columns: repeat(2,1fr);
		grid-row-gap: 0;
    }
    .categories-center{
        -ms-grid-row: 2;
        grid-row: 2;
        grid-column: 1/span 2;
    }
	.hero-text a{
		display: none;
	}
	.newletter-title br{
		display: none;
	}
	.footer-bottom {
		border: none;
	}
}
@media only screen and (max-width: 600px) {
	.top-header{
		display: none;
	}
	.hero .hero-items .hero-text{
		padding-left: 20px;
	}
	.mobile-menu > ul > li:nth-child(2),
	.mobile-menu > ul > li:nth-child(3){
		display: none;
	}
	.categories-row{
       grid-gap: 0;
    }
	.categories-item{
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media  only screen and (max-width: 575px) {
	.hero .hero-items .hero-text.right_center{
		width: 100%;
	}
	.hero .hero-items .hero-text.right_center{
		align-items: flex-start;
		padding-left: 10px;
		line-height: 0.8;
		padding-top: 10px;
	}
	.hero-text h2{
		font-size : 28px;
	}
	.hero-text span{
		font-size : 10px;
	}
	.hero-text p{
		font-size : 13px;
	}
	.filter-controls .active a::after{
		border-bottom: none;
	}
	.filter-controls{
		justify-content: unset;
		white-space: nowrap;
		overflow-y: hidden;
		margin-bottom: 0;
	}
	.rating span{
		display: -webkit-box;
	}
	.list-unstyled .media{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-align: center;
		padding: 15px ;
	}
	.reviews-discount h3 > br{
		display: none;
	}
	.categories-row{
		padding: 0;
		grid-template-columns: repeat(1,1fr);
	}
	.categories-row .categories-right{
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.categories-text.content{
		flex-direction: column !important;
	}
	.categories-text-right{
		margin-top: 45px;
		margin-right: 15px;
	}
	.size-18 {
		font-size: 11px;
	}
	.media-title{
		justify-content: center;
	}
	.reviews-discount{
		margin-left: 0;
	}
	.media-image{
		margin-right: 0;
		margin-bottom: 10px;
	}
	.ins-icon span{
		font-size: 14px;
	}
	.ins-icon br{
		display: none;
	}
	.post-author, .post-date{
		display: none;
	}
	.post-content{
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 1.5;
		max-height: 4.2rem;
	}
	.social-media p{
		display: none;
	}
}
@media (min-width:1200px){
	body .container{
		max-width: 1440px;
	}
	.container-header{
		max-width: 1860px;
		width: 95%;
		margin: auto;
	}
}
@media (min-width:768px){
	body .container{
		width: 95% !important;
		margin-left: auto;
		margin-right: auto;
	}
	.container-header{
		width: 95%;
	}
}